For Keras/Tensorflow:

Started with default Anaconda tensorflow-gpu install from late 2021.

For PyTorch:

Followed Torch instructions to set up Anaconda environment for it (inc GPU version).

-- got a lot of conflicts when attempted to construct a single environment
for both, but didn't pursue it -- just used alternative environments instead.

Also added:

>conda install Pillow

